<suite name="Project TestSuite"   parallel="classes">
    <test name="ORM website Test cases-chrome">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="OrangeHRMTestClasses.OrangeHRMLoginTest"></class>
            <class name="OrangeHRMTestClasses.OrangeHRMAdminTest"></class>
            <class name="OrangeHRMTestClasses.OrangeHRMLeaveTest"></class>
        </classes>
    </test>
    <test name="ORM website Test cases-firefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="OrangeHRMTestClasses.OrangeHRMLoginTest"></class>
            <class name="OrangeHRMTestClasses.OrangeHRMAdminTest"></class>
            <class name="OrangeHRMTestClasses.OrangeHRMLeaveTest"></class>
        </classes>
    </test>
</suite>